@model IDSS_RouteAndQualityForShippers.Models.ViewModels.PortSelectViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Enter information</h2>


@using (Html.BeginForm("List", "Port", FormMethod.Post))
{

    <p> Information required for route calculation</p>
    <div class="form-group">
        @Html.LabelFor(m => m.PortOrigin)
        @Html.TextBoxFor(m => m.PortOrigin, new { @class = "form-control", autofocus = "autofocus", placeholder = "eg. Goteborg" }) 

        @Html.LabelFor(m => m.MaxSizeVessel)
        @Html.TextBoxFor(m => m.MaxSizeVessel, new { @class = "form-control", autofocus = "autofocus", placeholder = "eg. L" })
        <p>Add a legend over how to decide the size of the ship. Eg. L = 100 - 150m </p>
    </div>

    <p> Information regarding fuel cost calculation</p>
    <div class="form-group">
        @Html.LabelFor(m => m.DieselPerHour)
        @Html.TextBoxFor(m => m.DieselPerHour, new { @class = "form-control", autofocus = "autofocus", placeholder = "default: 16" })
        @Html.LabelFor(m => m.DieselTonnePrice)
        @Html.TextBoxFor(m => m.DieselTonnePrice, new { @class = "form-control", autofocus = "autofocus", placeholder = "default: $493.64 (2017-05-12)" })
        @Html.LabelFor(m => m.AvgSpeed)
        @Html.TextBoxFor(m => m.AvgSpeed, new { @class = "form-control", autofocus = "autofocus", placeholder = "default: 24" })
        
        
        
    </div>

   

    <button type="submit" class="btn btn-default">Search</button>
}



