@model IDSS_RouteAndQualityForShippers.Models.ViewModels.PortListViewModel

<head>
    @Styles.Render("~/Content/ol")
</head>
    
<div class="container panel panel-default">
    <div class="row">
        
        <div class="col-sm-5">
            <table class="table supplies-table">
                <tr>
                    <th>Name</th>
                    <th>Quality</th>
                    <th>Supplies</th>
                    <th>Services</th>
                </tr>
                <tr>
                    <td class="portName portData" title="Port name">Select a port</td>
                    <td class="portQuality portData" title="Quality score"></td>
                    <td>
                        <img class="icon provisions" style="display: none" title="Provisions" src="~/Content/icons/chicken-leg.png" />
                        <img class="icon water" style="display: none" title="Water" src="~/Content/icons/faucet.png" />
                        <img class="icon fuelOil" style="display: none" title="Fuel Oil" src="~/Content/icons/barrels.png" />
                        <img class="icon fuelDiesel" style="display: none" title="Fuel Diesel" src="~/Content/icons/gas-station.png" />
                        <img class="icon engine" style="display: none" title="Engine" src="~/Content/icons/gear.png" />
                        <img class="icon deck" style="display: none" title="Deck" src="~/Content/icons/ship.png" />
                    </td>
                    <td>
                        <img class="icon medical" style="display: none" title="Medical" src="~/Content/icons/medical.png" />
                        <img class="icon garbage" style="display: none" title="Garbage disposal" src="~/Content/icons/recycle-bin.png" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-11">
            
        </div>
    </div>
    <br/>
    <div class="row">
        
        <div class="col-sm-5">
            <div id="map" class="map"></div>
        </div>
        <div class="col-sm-7">
            <b>The order of the route</b>
            <div class="scroll">
                @foreach (var port in Model.Route.Select((value, index) => new { index = index + 1, value }))
                {
                    <div>
                        @port.index - @port.value
                    </div>
                }
            </div>

        </div>
        
    </div>
    <br/>
    <div class="row costs">
        <div class="col-sm-4 pull-left">
            <b>Fuel Consumption Cost:</b> $@Model.FuelCost
        </div>
        <div class="col-sm-8">
            <b>Total Distance:</b> @Model.Distance nautical miles
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/ol")

@section scripts {
    <script>
        var model = '@Html.Raw(Json.Encode(@Model.Ports))';
        var map = document.getElementById("map");
        createMap(model, map);
    </script>
}



